.preview-button {
    margin: 10px;
}

.previewButtonDiv {
    display: block;
    clear: left;
}

.hide-preview {
    display: none;
}

.sedmetaFieldset {
    border: 1px solid black;
    padding: 15px;
    margin: 7px;
}

.sedmetaHidden {
    display: none;
    margin: 20px;
}

.inputs field {
    display: block;
    clear: left;
}

#sedmeta-form legend {
    padding: 0 10px;
    position: relative;
    top: 5px;
}

#performButton {
    font-size: 1.3em;
    margin-left: 35px;
    margin-top: 15px;
}

.sedmeta-waiting {
    display: none;
}

.removeRule {
    color: #FF0000;
    float: left;
    margin-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
    cursor: pointer;
}
